#
external_url 'https://{{ gitlab_access_url }}'
letsencrypt['enable'] = false
postgresql['enable'] = false
gitlab_rails['db_adapter'] = "postgresql"
gitlab_rails['db_encoding'] = "unicode"
gitlab_rails['db_host'] = "{{ gitlab_db_instance_address }}"
gitlab_rails['db_database'] = "{{ gitlab_db }}"
gitlab_rails['db_username'] = "{{ gitlab_db_instance_username }}"
gitlab_rails['db_password'] = "{{ gitlab_db_instance_password }}"
gitlab_rails['db_port'] = 5432
redis['enable'] = false
gitlab_rails['redis_host'] = "{{ gitlab_regis_endpoint }}"
gitlab_rails['redis_port'] = 6379
nginx['listen_port'] = 80
nginx['listen_https'] = false
gitlab_rails['gitaly_token'] = '{{ gitlab_token }}'
gitlab_shell['secret_token'] = '{{ gitlab_token }}'

gitaly['enable'] = false

git_data_dirs({
  'default' => { 'gitaly_address' => 'tcp://{{ hostvars[groups['gitaly'][gitaly_active_index]]['ansible_eth0']['ipv4']['address'] }}:8075' },
})

# Consolidated object storage configuration
gitlab_rails['object_store']['enabled'] = true
gitlab_rails['object_store']['proxy_download'] = true
gitlab_rails['object_store']['connection'] = {
    'provider' => 'AWS',
    'region' => '{{ aws_region }}',
    'use_iam_profile' => true
}

gitlab_rails['object_store']['objects']['artifacts']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-artifacts'
gitlab_rails['object_store']['objects']['external_diffs']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-external-diffs'
gitlab_rails['object_store']['objects']['lfs']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-lfs-objects'
gitlab_rails['object_store']['objects']['uploads']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-uploads'
gitlab_rails['object_store']['objects']['packages']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-packages'
gitlab_rails['object_store']['objects']['dependency_proxy']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-dependency-proxy'
gitlab_rails['object_store']['objects']['terraform_state']['bucket'] = '{{ gitlab_installation_prefix }}-gitlab-erraform-state'

# Backup related object storage configuration
gitlab_rails['backup_upload_connection'] = {
  'provider' => 'AWS',
  'region' => '{{ aws_region }}',
  'use_iam_profile' => true
}
gitlab_rails['backup_upload_remote_directory'] = '{{ gitlab_installation_prefix }}-gitlab-backup'
